.header{
  background-image: url(../img/backgrounds/landing.jpg);
  height: 600px;
  width:100vw;
  border-color: black;
  white-space: normal;

}

.logo{
  display: block;
  margin: auto;
  position: relative;
  top: 10%; left: 10%;
}
.text{
  text-align: center;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {

    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    position: top;left;
}


.jumbotron {
  column-count: 4;
  column-gap: 70px;
  column-rule-style: hidden;
  column-rule-width: 5px;
  column-fill: balance;
  max-height: 300px;

}


h3{
  text-align: center;
}
.fastfood{
  float: left;
}
.fastfoodtwo{
  float: left;
}

#lorem{
  text-align: center;
}
.sidebar {
  width: 50%;
  float: right;
  position: relative;
  font-size: 20;
  height: inherit;
}


.drinks{
  float: right;
}
.drinkpic1{
  float: right;
}

.Sidebar {
  width: 50%;
  float: left;
  position: relative;
  font-size: 20;
  height: inherit;
}
.jumbotron{
  column-rule-style: solid;
  column-rule-width: thin;
}
#customers{
  column-count: 2;
  text-align: center;
  float: right;


}
.Header{
  background-image: url(../img/backgrounds/subscribe.jpg);
  height: 300px;
  width:1270px;
  border-color: black;
  white-space: normal;
